<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.ddtsp.dao.generate.AmazonOrderItemMapper">
  <resultMap id="BaseResultMap" type="com.sky.ddtsp.entity.AmazonOrderItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="amazon_order_id" jdbcType="VARCHAR" property="amazonOrderId" />
    <result column="asin" jdbcType="VARCHAR" property="asin" />
    <result column="seller_sku" jdbcType="VARCHAR" property="sellerSku" />
    <result column="order_item_id" jdbcType="VARCHAR" property="orderItemId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="quantity_ordered" jdbcType="INTEGER" property="quantityOrdered" />
    <result column="quantity_shipped" jdbcType="INTEGER" property="quantityShipped" />
    <result column="number_of_items" jdbcType="INTEGER" property="numberOfItems" />
    <result column="points_number" jdbcType="INTEGER" property="pointsNumber" />
    <result column="points_monetary_value_amount" jdbcType="DECIMAL" property="pointsMonetaryValueAmount" />
    <result column="points_monetary_value_currency_code" jdbcType="VARCHAR" property="pointsMonetaryValueCurrencyCode" />
    <result column="item_price_amount" jdbcType="DECIMAL" property="itemPriceAmount" />
    <result column="item_price_currency_code" jdbcType="VARCHAR" property="itemPriceCurrencyCode" />
    <result column="shipping_price_amount" jdbcType="DECIMAL" property="shippingPriceAmount" />
    <result column="shipping_price_currency_code" jdbcType="VARCHAR" property="shippingPriceCurrencyCode" />
    <result column="item_tax_amount" jdbcType="DECIMAL" property="itemTaxAmount" />
    <result column="item_tax_currency_code" jdbcType="VARCHAR" property="itemTaxCurrencyCode" />
    <result column="shipping_tax_amount" jdbcType="DECIMAL" property="shippingTaxAmount" />
    <result column="shipping_tax_currency_code" jdbcType="VARCHAR" property="shippingTaxCurrencyCode" />
    <result column="shipping_discount_amount" jdbcType="DECIMAL" property="shippingDiscountAmount" />
    <result column="shipping_discount_currency_code" jdbcType="VARCHAR" property="shippingDiscountCurrencyCode" />
    <result column="shipping_discount_tax_amount" jdbcType="DECIMAL" property="shippingDiscountTaxAmount" />
    <result column="shipping_discount_tax_currency_code" jdbcType="VARCHAR" property="shippingDiscountTaxCurrencyCode" />
    <result column="promotion_discount_amount" jdbcType="DECIMAL" property="promotionDiscountAmount" />
    <result column="promotion_discount_currency_code" jdbcType="VARCHAR" property="promotionDiscountCurrencyCode" />
    <result column="promotion_discount_tax_amount" jdbcType="DECIMAL" property="promotionDiscountTaxAmount" />
    <result column="promotion_discount_tax_currency_code" jdbcType="VARCHAR" property="promotionDiscountTaxCurrencyCode" />
    <result column="promotion_id_list" jdbcType="VARCHAR" property="promotionIdList" />
    <result column="co_d_fee_amount" jdbcType="DECIMAL" property="coDFeeAmount" />
    <result column="co_d_fee_currency_code" jdbcType="VARCHAR" property="coDFeeCurrencyCode" />
    <result column="co_d_fee_discount_amount" jdbcType="DECIMAL" property="coDFeeDiscountAmount" />
    <result column="co_d_fee_discount_currency_code" jdbcType="VARCHAR" property="coDFeeDiscountCurrencyCode" />
    <result column="is_gift" jdbcType="BIT" property="isGift" />
    <result column="condition_note" jdbcType="VARCHAR" property="conditionNote" />
    <result column="condition_id" jdbcType="VARCHAR" property="conditionId" />
    <result column="condition_subtype_id" jdbcType="VARCHAR" property="conditionSubtypeId" />
    <result column="scheduled_delivery_start_date" jdbcType="TIMESTAMP" property="scheduledDeliveryStartDate" />
    <result column="scheduled_delivery_end_date" jdbcType="TIMESTAMP" property="scheduledDeliveryEndDate" />
    <result column="price_designation" jdbcType="VARCHAR" property="priceDesignation" />
    <result column="tax_collection_model" jdbcType="VARCHAR" property="taxCollectionModel" />
    <result column="tax_collection_responsible_party" jdbcType="VARCHAR" property="taxCollectionResponsibleParty" />
    <result column="serial_number_required" jdbcType="BIT" property="serialNumberRequired" />
    <result column="is_transparency" jdbcType="BIT" property="isTransparency" />
    <result column="ioss_number" jdbcType="VARCHAR" property="iossNumber" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, amazon_order_id, asin, seller_sku, order_item_id, title, quantity_ordered, quantity_shipped, 
    number_of_items, points_number, points_monetary_value_amount, points_monetary_value_currency_code, 
    item_price_amount, item_price_currency_code, shipping_price_amount, shipping_price_currency_code, 
    item_tax_amount, item_tax_currency_code, shipping_tax_amount, shipping_tax_currency_code, 
    shipping_discount_amount, shipping_discount_currency_code, shipping_discount_tax_amount, 
    shipping_discount_tax_currency_code, promotion_discount_amount, promotion_discount_currency_code, 
    promotion_discount_tax_amount, promotion_discount_tax_currency_code, promotion_id_list, 
    co_d_fee_amount, co_d_fee_currency_code, co_d_fee_discount_amount, co_d_fee_discount_currency_code, 
    is_gift, condition_note, condition_id, condition_subtype_id, scheduled_delivery_start_date, 
    scheduled_delivery_end_date, price_designation, tax_collection_model, tax_collection_responsible_party, 
    serial_number_required, is_transparency, ioss_number, create_time, create_by, update_time, 
    update_by
  </sql>
  <select id="selectByExample" parameterType="com.sky.ddtsp.entity.AmazonOrderItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from amazon_order_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from amazon_order_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from amazon_order_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sky.ddtsp.entity.AmazonOrderItemExample">
    delete from amazon_order_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sky.ddtsp.entity.AmazonOrderItem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into amazon_order_item (amazon_order_id, asin, seller_sku, 
      order_item_id, title, quantity_ordered, 
      quantity_shipped, number_of_items, points_number, 
      points_monetary_value_amount, points_monetary_value_currency_code, 
      item_price_amount, item_price_currency_code, 
      shipping_price_amount, shipping_price_currency_code, 
      item_tax_amount, item_tax_currency_code, shipping_tax_amount, 
      shipping_tax_currency_code, shipping_discount_amount, 
      shipping_discount_currency_code, shipping_discount_tax_amount, 
      shipping_discount_tax_currency_code, promotion_discount_amount, 
      promotion_discount_currency_code, promotion_discount_tax_amount, 
      promotion_discount_tax_currency_code, promotion_id_list, 
      co_d_fee_amount, co_d_fee_currency_code, co_d_fee_discount_amount, 
      co_d_fee_discount_currency_code, is_gift, condition_note, 
      condition_id, condition_subtype_id, scheduled_delivery_start_date, 
      scheduled_delivery_end_date, price_designation, 
      tax_collection_model, tax_collection_responsible_party, 
      serial_number_required, is_transparency, ioss_number, 
      create_time, create_by, update_time, 
      update_by)
    values (#{amazonOrderId,jdbcType=VARCHAR}, #{asin,jdbcType=VARCHAR}, #{sellerSku,jdbcType=VARCHAR}, 
      #{orderItemId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{quantityOrdered,jdbcType=INTEGER}, 
      #{quantityShipped,jdbcType=INTEGER}, #{numberOfItems,jdbcType=INTEGER}, #{pointsNumber,jdbcType=INTEGER}, 
      #{pointsMonetaryValueAmount,jdbcType=DECIMAL}, #{pointsMonetaryValueCurrencyCode,jdbcType=VARCHAR}, 
      #{itemPriceAmount,jdbcType=DECIMAL}, #{itemPriceCurrencyCode,jdbcType=VARCHAR}, 
      #{shippingPriceAmount,jdbcType=DECIMAL}, #{shippingPriceCurrencyCode,jdbcType=VARCHAR}, 
      #{itemTaxAmount,jdbcType=DECIMAL}, #{itemTaxCurrencyCode,jdbcType=VARCHAR}, #{shippingTaxAmount,jdbcType=DECIMAL}, 
      #{shippingTaxCurrencyCode,jdbcType=VARCHAR}, #{shippingDiscountAmount,jdbcType=DECIMAL}, 
      #{shippingDiscountCurrencyCode,jdbcType=VARCHAR}, #{shippingDiscountTaxAmount,jdbcType=DECIMAL}, 
      #{shippingDiscountTaxCurrencyCode,jdbcType=VARCHAR}, #{promotionDiscountAmount,jdbcType=DECIMAL}, 
      #{promotionDiscountCurrencyCode,jdbcType=VARCHAR}, #{promotionDiscountTaxAmount,jdbcType=DECIMAL}, 
      #{promotionDiscountTaxCurrencyCode,jdbcType=VARCHAR}, #{promotionIdList,jdbcType=VARCHAR}, 
      #{coDFeeAmount,jdbcType=DECIMAL}, #{coDFeeCurrencyCode,jdbcType=VARCHAR}, #{coDFeeDiscountAmount,jdbcType=DECIMAL}, 
      #{coDFeeDiscountCurrencyCode,jdbcType=VARCHAR}, #{isGift,jdbcType=BIT}, #{conditionNote,jdbcType=VARCHAR}, 
      #{conditionId,jdbcType=VARCHAR}, #{conditionSubtypeId,jdbcType=VARCHAR}, #{scheduledDeliveryStartDate,jdbcType=TIMESTAMP}, 
      #{scheduledDeliveryEndDate,jdbcType=TIMESTAMP}, #{priceDesignation,jdbcType=VARCHAR}, 
      #{taxCollectionModel,jdbcType=VARCHAR}, #{taxCollectionResponsibleParty,jdbcType=VARCHAR}, 
      #{serialNumberRequired,jdbcType=BIT}, #{isTransparency,jdbcType=BIT}, #{iossNumber,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.sky.ddtsp.entity.AmazonOrderItem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into amazon_order_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="amazonOrderId != null">
        amazon_order_id,
      </if>
      <if test="asin != null">
        asin,
      </if>
      <if test="sellerSku != null">
        seller_sku,
      </if>
      <if test="orderItemId != null">
        order_item_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="quantityOrdered != null">
        quantity_ordered,
      </if>
      <if test="quantityShipped != null">
        quantity_shipped,
      </if>
      <if test="numberOfItems != null">
        number_of_items,
      </if>
      <if test="pointsNumber != null">
        points_number,
      </if>
      <if test="pointsMonetaryValueAmount != null">
        points_monetary_value_amount,
      </if>
      <if test="pointsMonetaryValueCurrencyCode != null">
        points_monetary_value_currency_code,
      </if>
      <if test="itemPriceAmount != null">
        item_price_amount,
      </if>
      <if test="itemPriceCurrencyCode != null">
        item_price_currency_code,
      </if>
      <if test="shippingPriceAmount != null">
        shipping_price_amount,
      </if>
      <if test="shippingPriceCurrencyCode != null">
        shipping_price_currency_code,
      </if>
      <if test="itemTaxAmount != null">
        item_tax_amount,
      </if>
      <if test="itemTaxCurrencyCode != null">
        item_tax_currency_code,
      </if>
      <if test="shippingTaxAmount != null">
        shipping_tax_amount,
      </if>
      <if test="shippingTaxCurrencyCode != null">
        shipping_tax_currency_code,
      </if>
      <if test="shippingDiscountAmount != null">
        shipping_discount_amount,
      </if>
      <if test="shippingDiscountCurrencyCode != null">
        shipping_discount_currency_code,
      </if>
      <if test="shippingDiscountTaxAmount != null">
        shipping_discount_tax_amount,
      </if>
      <if test="shippingDiscountTaxCurrencyCode != null">
        shipping_discount_tax_currency_code,
      </if>
      <if test="promotionDiscountAmount != null">
        promotion_discount_amount,
      </if>
      <if test="promotionDiscountCurrencyCode != null">
        promotion_discount_currency_code,
      </if>
      <if test="promotionDiscountTaxAmount != null">
        promotion_discount_tax_amount,
      </if>
      <if test="promotionDiscountTaxCurrencyCode != null">
        promotion_discount_tax_currency_code,
      </if>
      <if test="promotionIdList != null">
        promotion_id_list,
      </if>
      <if test="coDFeeAmount != null">
        co_d_fee_amount,
      </if>
      <if test="coDFeeCurrencyCode != null">
        co_d_fee_currency_code,
      </if>
      <if test="coDFeeDiscountAmount != null">
        co_d_fee_discount_amount,
      </if>
      <if test="coDFeeDiscountCurrencyCode != null">
        co_d_fee_discount_currency_code,
      </if>
      <if test="isGift != null">
        is_gift,
      </if>
      <if test="conditionNote != null">
        condition_note,
      </if>
      <if test="conditionId != null">
        condition_id,
      </if>
      <if test="conditionSubtypeId != null">
        condition_subtype_id,
      </if>
      <if test="scheduledDeliveryStartDate != null">
        scheduled_delivery_start_date,
      </if>
      <if test="scheduledDeliveryEndDate != null">
        scheduled_delivery_end_date,
      </if>
      <if test="priceDesignation != null">
        price_designation,
      </if>
      <if test="taxCollectionModel != null">
        tax_collection_model,
      </if>
      <if test="taxCollectionResponsibleParty != null">
        tax_collection_responsible_party,
      </if>
      <if test="serialNumberRequired != null">
        serial_number_required,
      </if>
      <if test="isTransparency != null">
        is_transparency,
      </if>
      <if test="iossNumber != null">
        ioss_number,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="amazonOrderId != null">
        #{amazonOrderId,jdbcType=VARCHAR},
      </if>
      <if test="asin != null">
        #{asin,jdbcType=VARCHAR},
      </if>
      <if test="sellerSku != null">
        #{sellerSku,jdbcType=VARCHAR},
      </if>
      <if test="orderItemId != null">
        #{orderItemId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="quantityOrdered != null">
        #{quantityOrdered,jdbcType=INTEGER},
      </if>
      <if test="quantityShipped != null">
        #{quantityShipped,jdbcType=INTEGER},
      </if>
      <if test="numberOfItems != null">
        #{numberOfItems,jdbcType=INTEGER},
      </if>
      <if test="pointsNumber != null">
        #{pointsNumber,jdbcType=INTEGER},
      </if>
      <if test="pointsMonetaryValueAmount != null">
        #{pointsMonetaryValueAmount,jdbcType=DECIMAL},
      </if>
      <if test="pointsMonetaryValueCurrencyCode != null">
        #{pointsMonetaryValueCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="itemPriceAmount != null">
        #{itemPriceAmount,jdbcType=DECIMAL},
      </if>
      <if test="itemPriceCurrencyCode != null">
        #{itemPriceCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="shippingPriceAmount != null">
        #{shippingPriceAmount,jdbcType=DECIMAL},
      </if>
      <if test="shippingPriceCurrencyCode != null">
        #{shippingPriceCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="itemTaxAmount != null">
        #{itemTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="itemTaxCurrencyCode != null">
        #{itemTaxCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="shippingTaxAmount != null">
        #{shippingTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="shippingTaxCurrencyCode != null">
        #{shippingTaxCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="shippingDiscountAmount != null">
        #{shippingDiscountAmount,jdbcType=DECIMAL},
      </if>
      <if test="shippingDiscountCurrencyCode != null">
        #{shippingDiscountCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="shippingDiscountTaxAmount != null">
        #{shippingDiscountTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="shippingDiscountTaxCurrencyCode != null">
        #{shippingDiscountTaxCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="promotionDiscountAmount != null">
        #{promotionDiscountAmount,jdbcType=DECIMAL},
      </if>
      <if test="promotionDiscountCurrencyCode != null">
        #{promotionDiscountCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="promotionDiscountTaxAmount != null">
        #{promotionDiscountTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="promotionDiscountTaxCurrencyCode != null">
        #{promotionDiscountTaxCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="promotionIdList != null">
        #{promotionIdList,jdbcType=VARCHAR},
      </if>
      <if test="coDFeeAmount != null">
        #{coDFeeAmount,jdbcType=DECIMAL},
      </if>
      <if test="coDFeeCurrencyCode != null">
        #{coDFeeCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="coDFeeDiscountAmount != null">
        #{coDFeeDiscountAmount,jdbcType=DECIMAL},
      </if>
      <if test="coDFeeDiscountCurrencyCode != null">
        #{coDFeeDiscountCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="isGift != null">
        #{isGift,jdbcType=BIT},
      </if>
      <if test="conditionNote != null">
        #{conditionNote,jdbcType=VARCHAR},
      </if>
      <if test="conditionId != null">
        #{conditionId,jdbcType=VARCHAR},
      </if>
      <if test="conditionSubtypeId != null">
        #{conditionSubtypeId,jdbcType=VARCHAR},
      </if>
      <if test="scheduledDeliveryStartDate != null">
        #{scheduledDeliveryStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="scheduledDeliveryEndDate != null">
        #{scheduledDeliveryEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="priceDesignation != null">
        #{priceDesignation,jdbcType=VARCHAR},
      </if>
      <if test="taxCollectionModel != null">
        #{taxCollectionModel,jdbcType=VARCHAR},
      </if>
      <if test="taxCollectionResponsibleParty != null">
        #{taxCollectionResponsibleParty,jdbcType=VARCHAR},
      </if>
      <if test="serialNumberRequired != null">
        #{serialNumberRequired,jdbcType=BIT},
      </if>
      <if test="isTransparency != null">
        #{isTransparency,jdbcType=BIT},
      </if>
      <if test="iossNumber != null">
        #{iossNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sky.ddtsp.entity.AmazonOrderItemExample" resultType="java.lang.Long">
    select count(*) from amazon_order_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update amazon_order_item
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.amazonOrderId != null">
        amazon_order_id = #{record.amazonOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.asin != null">
        asin = #{record.asin,jdbcType=VARCHAR},
      </if>
      <if test="record.sellerSku != null">
        seller_sku = #{record.sellerSku,jdbcType=VARCHAR},
      </if>
      <if test="record.orderItemId != null">
        order_item_id = #{record.orderItemId,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.quantityOrdered != null">
        quantity_ordered = #{record.quantityOrdered,jdbcType=INTEGER},
      </if>
      <if test="record.quantityShipped != null">
        quantity_shipped = #{record.quantityShipped,jdbcType=INTEGER},
      </if>
      <if test="record.numberOfItems != null">
        number_of_items = #{record.numberOfItems,jdbcType=INTEGER},
      </if>
      <if test="record.pointsNumber != null">
        points_number = #{record.pointsNumber,jdbcType=INTEGER},
      </if>
      <if test="record.pointsMonetaryValueAmount != null">
        points_monetary_value_amount = #{record.pointsMonetaryValueAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.pointsMonetaryValueCurrencyCode != null">
        points_monetary_value_currency_code = #{record.pointsMonetaryValueCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.itemPriceAmount != null">
        item_price_amount = #{record.itemPriceAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.itemPriceCurrencyCode != null">
        item_price_currency_code = #{record.itemPriceCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.shippingPriceAmount != null">
        shipping_price_amount = #{record.shippingPriceAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.shippingPriceCurrencyCode != null">
        shipping_price_currency_code = #{record.shippingPriceCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.itemTaxAmount != null">
        item_tax_amount = #{record.itemTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.itemTaxCurrencyCode != null">
        item_tax_currency_code = #{record.itemTaxCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.shippingTaxAmount != null">
        shipping_tax_amount = #{record.shippingTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.shippingTaxCurrencyCode != null">
        shipping_tax_currency_code = #{record.shippingTaxCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.shippingDiscountAmount != null">
        shipping_discount_amount = #{record.shippingDiscountAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.shippingDiscountCurrencyCode != null">
        shipping_discount_currency_code = #{record.shippingDiscountCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.shippingDiscountTaxAmount != null">
        shipping_discount_tax_amount = #{record.shippingDiscountTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.shippingDiscountTaxCurrencyCode != null">
        shipping_discount_tax_currency_code = #{record.shippingDiscountTaxCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.promotionDiscountAmount != null">
        promotion_discount_amount = #{record.promotionDiscountAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.promotionDiscountCurrencyCode != null">
        promotion_discount_currency_code = #{record.promotionDiscountCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.promotionDiscountTaxAmount != null">
        promotion_discount_tax_amount = #{record.promotionDiscountTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.promotionDiscountTaxCurrencyCode != null">
        promotion_discount_tax_currency_code = #{record.promotionDiscountTaxCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.promotionIdList != null">
        promotion_id_list = #{record.promotionIdList,jdbcType=VARCHAR},
      </if>
      <if test="record.coDFeeAmount != null">
        co_d_fee_amount = #{record.coDFeeAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.coDFeeCurrencyCode != null">
        co_d_fee_currency_code = #{record.coDFeeCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.coDFeeDiscountAmount != null">
        co_d_fee_discount_amount = #{record.coDFeeDiscountAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.coDFeeDiscountCurrencyCode != null">
        co_d_fee_discount_currency_code = #{record.coDFeeDiscountCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.isGift != null">
        is_gift = #{record.isGift,jdbcType=BIT},
      </if>
      <if test="record.conditionNote != null">
        condition_note = #{record.conditionNote,jdbcType=VARCHAR},
      </if>
      <if test="record.conditionId != null">
        condition_id = #{record.conditionId,jdbcType=VARCHAR},
      </if>
      <if test="record.conditionSubtypeId != null">
        condition_subtype_id = #{record.conditionSubtypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.scheduledDeliveryStartDate != null">
        scheduled_delivery_start_date = #{record.scheduledDeliveryStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.scheduledDeliveryEndDate != null">
        scheduled_delivery_end_date = #{record.scheduledDeliveryEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.priceDesignation != null">
        price_designation = #{record.priceDesignation,jdbcType=VARCHAR},
      </if>
      <if test="record.taxCollectionModel != null">
        tax_collection_model = #{record.taxCollectionModel,jdbcType=VARCHAR},
      </if>
      <if test="record.taxCollectionResponsibleParty != null">
        tax_collection_responsible_party = #{record.taxCollectionResponsibleParty,jdbcType=VARCHAR},
      </if>
      <if test="record.serialNumberRequired != null">
        serial_number_required = #{record.serialNumberRequired,jdbcType=BIT},
      </if>
      <if test="record.isTransparency != null">
        is_transparency = #{record.isTransparency,jdbcType=BIT},
      </if>
      <if test="record.iossNumber != null">
        ioss_number = #{record.iossNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update amazon_order_item
    set id = #{record.id,jdbcType=BIGINT},
      amazon_order_id = #{record.amazonOrderId,jdbcType=VARCHAR},
      asin = #{record.asin,jdbcType=VARCHAR},
      seller_sku = #{record.sellerSku,jdbcType=VARCHAR},
      order_item_id = #{record.orderItemId,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      quantity_ordered = #{record.quantityOrdered,jdbcType=INTEGER},
      quantity_shipped = #{record.quantityShipped,jdbcType=INTEGER},
      number_of_items = #{record.numberOfItems,jdbcType=INTEGER},
      points_number = #{record.pointsNumber,jdbcType=INTEGER},
      points_monetary_value_amount = #{record.pointsMonetaryValueAmount,jdbcType=DECIMAL},
      points_monetary_value_currency_code = #{record.pointsMonetaryValueCurrencyCode,jdbcType=VARCHAR},
      item_price_amount = #{record.itemPriceAmount,jdbcType=DECIMAL},
      item_price_currency_code = #{record.itemPriceCurrencyCode,jdbcType=VARCHAR},
      shipping_price_amount = #{record.shippingPriceAmount,jdbcType=DECIMAL},
      shipping_price_currency_code = #{record.shippingPriceCurrencyCode,jdbcType=VARCHAR},
      item_tax_amount = #{record.itemTaxAmount,jdbcType=DECIMAL},
      item_tax_currency_code = #{record.itemTaxCurrencyCode,jdbcType=VARCHAR},
      shipping_tax_amount = #{record.shippingTaxAmount,jdbcType=DECIMAL},
      shipping_tax_currency_code = #{record.shippingTaxCurrencyCode,jdbcType=VARCHAR},
      shipping_discount_amount = #{record.shippingDiscountAmount,jdbcType=DECIMAL},
      shipping_discount_currency_code = #{record.shippingDiscountCurrencyCode,jdbcType=VARCHAR},
      shipping_discount_tax_amount = #{record.shippingDiscountTaxAmount,jdbcType=DECIMAL},
      shipping_discount_tax_currency_code = #{record.shippingDiscountTaxCurrencyCode,jdbcType=VARCHAR},
      promotion_discount_amount = #{record.promotionDiscountAmount,jdbcType=DECIMAL},
      promotion_discount_currency_code = #{record.promotionDiscountCurrencyCode,jdbcType=VARCHAR},
      promotion_discount_tax_amount = #{record.promotionDiscountTaxAmount,jdbcType=DECIMAL},
      promotion_discount_tax_currency_code = #{record.promotionDiscountTaxCurrencyCode,jdbcType=VARCHAR},
      promotion_id_list = #{record.promotionIdList,jdbcType=VARCHAR},
      co_d_fee_amount = #{record.coDFeeAmount,jdbcType=DECIMAL},
      co_d_fee_currency_code = #{record.coDFeeCurrencyCode,jdbcType=VARCHAR},
      co_d_fee_discount_amount = #{record.coDFeeDiscountAmount,jdbcType=DECIMAL},
      co_d_fee_discount_currency_code = #{record.coDFeeDiscountCurrencyCode,jdbcType=VARCHAR},
      is_gift = #{record.isGift,jdbcType=BIT},
      condition_note = #{record.conditionNote,jdbcType=VARCHAR},
      condition_id = #{record.conditionId,jdbcType=VARCHAR},
      condition_subtype_id = #{record.conditionSubtypeId,jdbcType=VARCHAR},
      scheduled_delivery_start_date = #{record.scheduledDeliveryStartDate,jdbcType=TIMESTAMP},
      scheduled_delivery_end_date = #{record.scheduledDeliveryEndDate,jdbcType=TIMESTAMP},
      price_designation = #{record.priceDesignation,jdbcType=VARCHAR},
      tax_collection_model = #{record.taxCollectionModel,jdbcType=VARCHAR},
      tax_collection_responsible_party = #{record.taxCollectionResponsibleParty,jdbcType=VARCHAR},
      serial_number_required = #{record.serialNumberRequired,jdbcType=BIT},
      is_transparency = #{record.isTransparency,jdbcType=BIT},
      ioss_number = #{record.iossNumber,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sky.ddtsp.entity.AmazonOrderItem">
    update amazon_order_item
    <set>
      <if test="amazonOrderId != null">
        amazon_order_id = #{amazonOrderId,jdbcType=VARCHAR},
      </if>
      <if test="asin != null">
        asin = #{asin,jdbcType=VARCHAR},
      </if>
      <if test="sellerSku != null">
        seller_sku = #{sellerSku,jdbcType=VARCHAR},
      </if>
      <if test="orderItemId != null">
        order_item_id = #{orderItemId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="quantityOrdered != null">
        quantity_ordered = #{quantityOrdered,jdbcType=INTEGER},
      </if>
      <if test="quantityShipped != null">
        quantity_shipped = #{quantityShipped,jdbcType=INTEGER},
      </if>
      <if test="numberOfItems != null">
        number_of_items = #{numberOfItems,jdbcType=INTEGER},
      </if>
      <if test="pointsNumber != null">
        points_number = #{pointsNumber,jdbcType=INTEGER},
      </if>
      <if test="pointsMonetaryValueAmount != null">
        points_monetary_value_amount = #{pointsMonetaryValueAmount,jdbcType=DECIMAL},
      </if>
      <if test="pointsMonetaryValueCurrencyCode != null">
        points_monetary_value_currency_code = #{pointsMonetaryValueCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="itemPriceAmount != null">
        item_price_amount = #{itemPriceAmount,jdbcType=DECIMAL},
      </if>
      <if test="itemPriceCurrencyCode != null">
        item_price_currency_code = #{itemPriceCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="shippingPriceAmount != null">
        shipping_price_amount = #{shippingPriceAmount,jdbcType=DECIMAL},
      </if>
      <if test="shippingPriceCurrencyCode != null">
        shipping_price_currency_code = #{shippingPriceCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="itemTaxAmount != null">
        item_tax_amount = #{itemTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="itemTaxCurrencyCode != null">
        item_tax_currency_code = #{itemTaxCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="shippingTaxAmount != null">
        shipping_tax_amount = #{shippingTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="shippingTaxCurrencyCode != null">
        shipping_tax_currency_code = #{shippingTaxCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="shippingDiscountAmount != null">
        shipping_discount_amount = #{shippingDiscountAmount,jdbcType=DECIMAL},
      </if>
      <if test="shippingDiscountCurrencyCode != null">
        shipping_discount_currency_code = #{shippingDiscountCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="shippingDiscountTaxAmount != null">
        shipping_discount_tax_amount = #{shippingDiscountTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="shippingDiscountTaxCurrencyCode != null">
        shipping_discount_tax_currency_code = #{shippingDiscountTaxCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="promotionDiscountAmount != null">
        promotion_discount_amount = #{promotionDiscountAmount,jdbcType=DECIMAL},
      </if>
      <if test="promotionDiscountCurrencyCode != null">
        promotion_discount_currency_code = #{promotionDiscountCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="promotionDiscountTaxAmount != null">
        promotion_discount_tax_amount = #{promotionDiscountTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="promotionDiscountTaxCurrencyCode != null">
        promotion_discount_tax_currency_code = #{promotionDiscountTaxCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="promotionIdList != null">
        promotion_id_list = #{promotionIdList,jdbcType=VARCHAR},
      </if>
      <if test="coDFeeAmount != null">
        co_d_fee_amount = #{coDFeeAmount,jdbcType=DECIMAL},
      </if>
      <if test="coDFeeCurrencyCode != null">
        co_d_fee_currency_code = #{coDFeeCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="coDFeeDiscountAmount != null">
        co_d_fee_discount_amount = #{coDFeeDiscountAmount,jdbcType=DECIMAL},
      </if>
      <if test="coDFeeDiscountCurrencyCode != null">
        co_d_fee_discount_currency_code = #{coDFeeDiscountCurrencyCode,jdbcType=VARCHAR},
      </if>
      <if test="isGift != null">
        is_gift = #{isGift,jdbcType=BIT},
      </if>
      <if test="conditionNote != null">
        condition_note = #{conditionNote,jdbcType=VARCHAR},
      </if>
      <if test="conditionId != null">
        condition_id = #{conditionId,jdbcType=VARCHAR},
      </if>
      <if test="conditionSubtypeId != null">
        condition_subtype_id = #{conditionSubtypeId,jdbcType=VARCHAR},
      </if>
      <if test="scheduledDeliveryStartDate != null">
        scheduled_delivery_start_date = #{scheduledDeliveryStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="scheduledDeliveryEndDate != null">
        scheduled_delivery_end_date = #{scheduledDeliveryEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="priceDesignation != null">
        price_designation = #{priceDesignation,jdbcType=VARCHAR},
      </if>
      <if test="taxCollectionModel != null">
        tax_collection_model = #{taxCollectionModel,jdbcType=VARCHAR},
      </if>
      <if test="taxCollectionResponsibleParty != null">
        tax_collection_responsible_party = #{taxCollectionResponsibleParty,jdbcType=VARCHAR},
      </if>
      <if test="serialNumberRequired != null">
        serial_number_required = #{serialNumberRequired,jdbcType=BIT},
      </if>
      <if test="isTransparency != null">
        is_transparency = #{isTransparency,jdbcType=BIT},
      </if>
      <if test="iossNumber != null">
        ioss_number = #{iossNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sky.ddtsp.entity.AmazonOrderItem">
    update amazon_order_item
    set amazon_order_id = #{amazonOrderId,jdbcType=VARCHAR},
      asin = #{asin,jdbcType=VARCHAR},
      seller_sku = #{sellerSku,jdbcType=VARCHAR},
      order_item_id = #{orderItemId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      quantity_ordered = #{quantityOrdered,jdbcType=INTEGER},
      quantity_shipped = #{quantityShipped,jdbcType=INTEGER},
      number_of_items = #{numberOfItems,jdbcType=INTEGER},
      points_number = #{pointsNumber,jdbcType=INTEGER},
      points_monetary_value_amount = #{pointsMonetaryValueAmount,jdbcType=DECIMAL},
      points_monetary_value_currency_code = #{pointsMonetaryValueCurrencyCode,jdbcType=VARCHAR},
      item_price_amount = #{itemPriceAmount,jdbcType=DECIMAL},
      item_price_currency_code = #{itemPriceCurrencyCode,jdbcType=VARCHAR},
      shipping_price_amount = #{shippingPriceAmount,jdbcType=DECIMAL},
      shipping_price_currency_code = #{shippingPriceCurrencyCode,jdbcType=VARCHAR},
      item_tax_amount = #{itemTaxAmount,jdbcType=DECIMAL},
      item_tax_currency_code = #{itemTaxCurrencyCode,jdbcType=VARCHAR},
      shipping_tax_amount = #{shippingTaxAmount,jdbcType=DECIMAL},
      shipping_tax_currency_code = #{shippingTaxCurrencyCode,jdbcType=VARCHAR},
      shipping_discount_amount = #{shippingDiscountAmount,jdbcType=DECIMAL},
      shipping_discount_currency_code = #{shippingDiscountCurrencyCode,jdbcType=VARCHAR},
      shipping_discount_tax_amount = #{shippingDiscountTaxAmount,jdbcType=DECIMAL},
      shipping_discount_tax_currency_code = #{shippingDiscountTaxCurrencyCode,jdbcType=VARCHAR},
      promotion_discount_amount = #{promotionDiscountAmount,jdbcType=DECIMAL},
      promotion_discount_currency_code = #{promotionDiscountCurrencyCode,jdbcType=VARCHAR},
      promotion_discount_tax_amount = #{promotionDiscountTaxAmount,jdbcType=DECIMAL},
      promotion_discount_tax_currency_code = #{promotionDiscountTaxCurrencyCode,jdbcType=VARCHAR},
      promotion_id_list = #{promotionIdList,jdbcType=VARCHAR},
      co_d_fee_amount = #{coDFeeAmount,jdbcType=DECIMAL},
      co_d_fee_currency_code = #{coDFeeCurrencyCode,jdbcType=VARCHAR},
      co_d_fee_discount_amount = #{coDFeeDiscountAmount,jdbcType=DECIMAL},
      co_d_fee_discount_currency_code = #{coDFeeDiscountCurrencyCode,jdbcType=VARCHAR},
      is_gift = #{isGift,jdbcType=BIT},
      condition_note = #{conditionNote,jdbcType=VARCHAR},
      condition_id = #{conditionId,jdbcType=VARCHAR},
      condition_subtype_id = #{conditionSubtypeId,jdbcType=VARCHAR},
      scheduled_delivery_start_date = #{scheduledDeliveryStartDate,jdbcType=TIMESTAMP},
      scheduled_delivery_end_date = #{scheduledDeliveryEndDate,jdbcType=TIMESTAMP},
      price_designation = #{priceDesignation,jdbcType=VARCHAR},
      tax_collection_model = #{taxCollectionModel,jdbcType=VARCHAR},
      tax_collection_responsible_party = #{taxCollectionResponsibleParty,jdbcType=VARCHAR},
      serial_number_required = #{serialNumberRequired,jdbcType=BIT},
      is_transparency = #{isTransparency,jdbcType=BIT},
      ioss_number = #{iossNumber,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>